*{
    padding:0;
    margin: 0;
}
 .here{
    background-image: url("./Assets//Hero-bg.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
     height:698px;
 }
 .logo{
    height: 50px;
    width: 50px;
 }
 nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem 2rem;
  margin: 0;
 
}
 

nav ul li {
  font-size: 1.2rem;
}

nav ul li button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li button:hover {
  background-color: #4E47FF;
}
.hereText {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-top: 120px;
}
.hereText button{
   
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family:  'Raleway', sans-serif;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-weight: 700;
   
}

.hereText button:hover{
  background-color: #4E47FF;
}