*{
    padding:0;
    margin: 0;
}
 .here{
    background-image: url("./Assets//Hero-bg.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
     height:698px;
 }
 .logo{
    height: 50px;
    width: 50px;
 }
 nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem 2rem;
  margin: 0;
 
}
 

nav ul li {
  font-size: 1.2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #4E47FF;
}
.hereText {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-top: 120px;
}
 

 

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:80px;
  gap: 2rem;
}

/* Two equal columns */
.action .left,
.action .right {
  flex: 0 0 50%;
  max-width: 50%;
}

 
.action .left h1 {
 font-weight: bold;
   font-family: 'Raleway', sans-serif;
}
.action .left p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
   font-family: 'Raleway', sans-serif;
}
.action .right img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
 
 .productive{
    background-color: #DAE3FF;
    margin: 50px;
     padding: 30px;
     border-radius: 15px;
    
 }
.productive h1 {
  text-align: center;
  font-size:40px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
 
}
.productive h2 {
  text-align: center;
  font-size:60px;
  color: #4E47FF;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
 
.text {
  display: flex;
  justify-content: space-between;                       
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Raleway', sans-serif;
}

  